* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    /* background: #050505; */
    /* color: white; */
}

/* ABOUT SECTION */

.about-section {
    padding: 100px 8%;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
}

/* LEFT IMAGE */

.about-image {
    position: relative;
    width: 45%;
}

.image-card {
    width: 520px;
    height: 500px;

    border-radius: 40px;
    overflow: hidden;

    border: 1px solid #333;
}

.image-card img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

/* EXPERIENCE BOX */

.experience-box {
    position: absolute;

    bottom: -30px;
    left: -50px;

    width: 190px;
    height: 160px;

    background: #111;

    border-radius: 30px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    border: 1px solid #333;
}

.experience-box h2 {
    color: #e08a00;

    font-size: 55px;

    font-style: italic;
}

.experience-box p {
    margin-top: 10px;

    font-size: 12px;

    letter-spacing: 4px;

    text-align: center;

    color: #bbb;
}

/* RIGHT CONTENT */

.about-content {
    width: 50%;
}

.section-title {
    color: #e08a00;

    letter-spacing: 3px;

    font-size: 14px;

    font-weight: bold;
}

.section-title::before {
    content: '';

    display: inline-block;

    width: 45px;

    height: 2px;

    background: #e08a00;

    margin-right: 15px;
}

.about-content h1 {
    margin-top: 25px;

    font-size: 60px;

    line-height: 1.1;

    font-family: Georgia, serif;
}

.about-content h1 span {
    color: #e08a00;
}

.about-content p {
    margin-top: 25px;

    color: #aaa;

    line-height: 1.7;

    font-size: 17px;
}

.about-content ul {
    margin-top: 30px;

    list-style: none;
}

.about-content li {
    margin: 22px 0;

    font-size: 14px;

    font-weight: bold;

    letter-spacing: 2px;
}

.about-content li::before {
    content: '●';

    color: #e08a00;

    margin-right: 20px;
}

.about-btn {
    display: inline-block;

    margin-top: 30px;

    padding: 18px 45px;

    background: #e08a00;

    color: black;

    text-decoration: none;

    border-radius: 40px;

    font-weight: bold;

    transition: 0.3s;
}

.about-btn:hover {
    background: #ffb02e;
}

/* why chhose us  */

/* SECTION */

.choose-section {

    padding: 80px 5%;
    text-align: center;
    background:black;

}


.choose-section h2 {
    font-family: Georgia, serif;
    font-style: italic;
    margin-bottom: 10px;
    background: linear-gradient(90deg, #ad1f1f, #e9c545);
    -webkit-background-clip:text;
    font-size: 42px !important;
    color: transparent;

}


.subtitle {

    color: #ccc;
    font-size: 18px;
    margin-bottom: 50px;

}



/* CARD CONTAINER */

.cards-container {

    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

}



/* FLIP CARD */

.flip-card {

    width: 270px;
    height: 320px;
    perspective: 1000px;

}



.flip-inner {

    width: 100%;
    height: 100%;
    position: relative;
    transition: 0.8s;
    transform-style: preserve-3d;

}



.flip-card:hover .flip-inner {

    transform: rotateY(180deg);

}




.card-front,
.card-back {

    position: absolute;
    width: 100%;
    height: 100%;

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 25px;

    backface-visibility: hidden;

}



/* FRONT SIDE */

.card-front {

    background: #181818;

    border: 1px solid #333;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);

}



.icon {

    font-size: 55px;
    margin-bottom: 20px;

}



.card-front h3 {

    color: #ffd000;
    font-size: 25px;
    margin-bottom: 10px;

}



.card-front p {

    color: #ddd;
    line-height: 1.5;

}



/* BACK SIDE */


.card-back {

    background: linear-gradient(135deg,
            #ffd000,
            #ff9800);

    color: #111;

    transform: rotateY(180deg);

}



.card-back h3 {

    font-size: 28px;
    margin-bottom: 15px;

}



.card-back p {

    line-height: 1.6;
    font-size: 16px;

}



.card-back button {

    margin-top: 25px;

    padding: 12px 30px;

    border: none;

    border-radius: 30px;

    background: #111;

    color: white;

    cursor: pointer;

    font-size: 15px;

}



/* HOVER EFFECT */


.flip-card:hover {

    transform: translateY(-12px);

}

/* our process section  */
.process-section {

    background: #e6e6e6;
    padding: 100px 7%;
    color: black;
    overflow: hidden;

}


.process-title {
    text-align: center;
    margin-bottom: 70px;
}


.process-title h1 {

    font-family: Georgia, serif;
    font-style: italic;
    font-size: 55px !important;
    background: linear-gradient(90deg, #ad1f1f, #e9c545);
    -webkit-background-clip:text;
    color: transparent;
}
.process-title p {

    margin-top: 15px;
    letter-spacing: 8px;
    font-size: 12px;
    color: #353434;
}
.process-container {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    position: relative;

}


/* line */

.process-container::before {

    content: "";
    position: absolute;
    top: 50%;
    left: 5%;
    width: 90%;
    height: 2px;
    background: linear-gradient(90deg,
            transparent,
            #d4af37,
            transparent);

    animation: lineMove 3s infinite;

}


@keyframes lineMove {

    0% {
        opacity: .2;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: .2;
    }

}





.process-card {

    position: relative;
    background:

        linear-gradient(145deg,
            rgba(255, 255, 255, .08),
            rgba(255, 255, 255, .02));


    border: 1px solid rgba(255, 255, 255, .12);

    padding: 35px 30px;

    border-radius: 25px;

    backdrop-filter: blur(15px);

    min-height: 220px;

    transition: .5s;

    overflow: hidden;


    animation: showCard 1s ease forwards;

}



@keyframes showCard {

    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}




.process-card:hover {

    transform:
        translateY(-15px) scale(1.05);


    border-color: #d4af37;

    box-shadow:
        0 20px 50px rgba(212, 175, 55, .25);

}




.number {

    position: absolute;

    right: 20px;
    bottom: 10px;

    font-size: 90px;

    font-weight: bold;

    color: rgba(255, 255, 255, .05);

    transition: .5s;

}



.process-card:hover .number {

    color: rgba(212, 175, 55, .18);

    transform: scale(1.2);

}



.process-card h2 {

    font-size: 24px;
    margin-bottom: 20px;

    font-family: Georgia, serif;

}



.process-card p {

    color: #080808;

    line-height: 1.8;

    font-size: 15px;

}




@media(max-width:900px) {

    .process-container {

        grid-template-columns: 1fr;

    }


    .process-container::before {

        display: none;

    }


    .process-title h1 {

        font-size: 40px;

    }

}



/* RESPONSIVE */


@media(max-width:768px) {

    .cards-container {

        flex-direction: column;
        align-items: center;

    }


    .choose-section h2 {

        font-size: 32px;

    }

}

/* RESPONSIVE */

@media (max-width: 900px) {
    .about-container {
        flex-direction: column;
    }

    .about-image,
    .about-content {
        width: 100%;
    }

    .image-card {
        width: 100%;
        height: 400px;
    }

    .about-content h1 {
        font-size: 40px;
    }
}