* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #5ff5f5;
    color: #222;
}

html {
    scroll-behavior: smooth;
}
/* HERO */
.cart-hero{
    height:50vh;

    background:
    linear-gradient(rgba(0,0,0,.65),
    rgba(0,0,0,.65)),
    url("https://images.unsplash.com/photo-1519167758481-83f550bb49b3?q=80&w=1920");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
}

.cart-overlay{
    color:white;
}

.cart-badge{
    background:#ffcc00;
    color:black;

    padding:10px 20px;

    border-radius:30px;

    font-weight:600;
}

.cart-overlay h1{
    margin-top:20px;
    font-size:60px;
}

.cart-overlay p{
    margin-top:10px;
    font-size:18px;
}

/* MAIN SECTION */

.cart-section{
    background:#f5f5f5;
}

.cart-container{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:30px;
}

/* LEFT */

.cart-card{
    background:white;

    border-radius:20px;

    padding:25px;

    margin-bottom:25px;

    box-shadow:
    0 5px 20px rgba(0,0,0,.08);
}

.cart-card h2{
    margin-bottom:20px;
}

.item-row{
    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:15px 0;

    border-bottom:1px solid #eee;
}

.item-row:last-child{
    border:none;
}

.item-row span{
    color:#ff9900;

    font-weight:700;
}

/* RIGHT */

.summary-card{
    background:white;

    padding:30px;

    border-radius:20px;

    box-shadow:
    0 5px 20px rgba(0,0,0,.08);

    position:sticky;

    top:100px;
}

.summary-card h2{
    margin-bottom:25px;
}

.summary-row{
    display:flex;

    justify-content:space-between;

    margin-bottom:18px;
}

.total-row{
    font-size:24px;

    font-weight:700;

    color:#ff9900;

    margin-top:20px;
}

/* BUTTONS */

.quote-btn,
.booking-btn{

    display:block;

    text-align:center;

    text-decoration:none;

    padding:15px;

    border-radius:12px;

    font-weight:600;

    margin-top:20px;

    transition:.3s;
}

.quote-btn{

    background:#111;

    color:white;
}

.quote-btn:hover{

    background:#333;
}

.booking-btn{

    background:#ffcc00;

    color:black;
}

.booking-btn:hover{

    background:#e6b800;
}

/* MOBILE */

@media(max-width:992px){

    .cart-container{

        grid-template-columns:1fr;
    }

    .summary-card{

        position:static;
    }

}

@media(max-width:768px){

    .cart-overlay h1{

        font-size:40px;
    }

    .cart-overlay p{

        font-size:15px;
    }

    .item-row{

        flex-direction:column;

        align-items:flex-start;

        gap:8px;
    }

    .summary-row{

        font-size:15px;
    }

    .total-row{

        font-size:20px;
    }

}