{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
    Home| Royal Events
    {% endblock title %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    {% block extra_css %}
    {% endblock %}
</head>
<body>
    {% include 'partials/header.html' %}
    
    {% block content %}
    
    {% endblock %}
    
    {% include 'partials/footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/footer.js' %}"></script>

    {% block extra_js %}
    
    {% endblock %}
</body>
</html>
